nodeJS/data/tabs/modes.json
[
    {
        "id": "f4b65eca.d90b6",
        "type": "ivona-tts",
        "z": "b73c8a92.b879a8",
        "name": "",
        "message": "{{payload}}",
        "voice": "9",
        "exec": "{{{file}}}",
        "dir": "/tmp/{{voice_name}}-{{lang}}-{{slug}}.mp3",
        "broker": "47eb705a.dabe6",
        "x": 637.5555114746094,
        "y": 186.88884735107422,
        "wires": [
            []
        ]
    },
    {
        "id": "c66fac09.2e2c3",
        "type": "bigtimer",
        "z": "b73c8a92.b879a8",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Evening Mode",
        "lat": "18.647355",
        "lon": "73.780526",
        "start": "sunrise",
        "end": "sunset",
        "starttime": "5004",
        "endtime": "10120",
        "startoff": "0",
        "endoff": "0",
        "outtext1": "Evening mode activated.",
        "outtext2": "Evening mode deactivated.",
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "suspend": false,
        "random": true,
        "repeat": false,
        "atstart": false,
        "x": 163,
        "y": 86.49999618530273,
        "wires": [
            [],
            [],
            [
                "f4b65eca.d90b6",
                "6bcf4ef8.fa416"
            ]
        ]
    },
    {
        "id": "d337e39d.118fc",
        "type": "bigtimer",
        "z": "b73c8a92.b879a8",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Day Mode",
        "lat": "18.650871",
        "lon": "73.738287",
        "start": "sunrise",
        "end": "sunset",
        "starttime": "5003",
        "endtime": "5004",
        "startoff": "0",
        "endoff": "0",
        "outtext1": "Day mode activated.",
        "outtext2": "Day mode deactivated.",
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "suspend": false,
        "random": true,
        "repeat": false,
        "atstart": true,
        "x": 152.5555648803711,
        "y": 186.3888874053955,
        "wires": [
            [],
            [],
            [
                "f4b65eca.d90b6",
                "6bcf4ef8.fa416"
            ]
        ]
    },
    {
        "id": "7e061545.bfd72c",
        "type": "bigtimer",
        "z": "b73c8a92.b879a8",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Dawn Mode",
        "lat": "18.650871",
        "lon": "73.738287",
        "start": "sunrise",
        "end": "sunset",
        "starttime": "5000",
        "endtime": "5003",
        "startoff": "0",
        "endoff": "0",
        "outtext1": "Dawn mode activated.",
        "outtext2": "Dawn mode deactivated.",
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "suspend": false,
        "random": true,
        "repeat": false,
        "atstart": false,
        "x": 150.4296989440918,
        "y": 286.6362886428833,
        "wires": [
            [],
            [],
            [
                "f4b65eca.d90b6",
                "6bcf4ef8.fa416"
            ]
        ]
    },
    {
        "id": "37d5f711.d8f078",
        "type": "bigtimer",
        "z": "b73c8a92.b879a8",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Dusk Mode",
        "lat": "18.55342",
        "lon": "73.8072",
        "start": "sunrise",
        "end": "sunset",
        "starttime": "5004",
        "endtime": "5001",
        "startoff": "0",
        "endoff": "0",
        "outtext1": "Dusk mode activated.",
        "outtext2": "Dusk mode deactivated.",
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "suspend": false,
        "random": true,
        "repeat": false,
        "atstart": false,
        "x": 152.64756944444443,
        "y": 378.8671875,
        "wires": [
            [],
            [],
            [
                "f4b65eca.d90b6",
                "6bcf4ef8.fa416"
            ]
        ]
    },
    {
        "id": "7443d16c.3ade1",
        "type": "bigtimer",
        "z": "b73c8a92.b879a8",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Night Mode",
        "lat": "18.55346",
        "lon": "73.80716",
        "start": "sunrise",
        "end": "sunset",
        "starttime": "5005",
        "endtime": "5006",
        "startoff": "0",
        "endoff": "0",
        "outtext1": "Night mode activated.",
        "outtext2": "Night mode deactivated.",
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "suspend": false,
        "random": true,
        "repeat": false,
        "atstart": false,
        "x": 150.43402777777777,
        "y": 463.30729166666663,
        "wires": [
            [],
            [],
            [
                "f4b65eca.d90b6",
                "6bcf4ef8.fa416"
            ]
        ]
    },
    {
        "id": "684c8e19.a3085",
        "type": "google.gcm.send",
        "z": "b73c8a92.b879a8",
        "name": "GCM",
        "gcmConfig": "5044b9fc.32c148",
        "tokens": "dXgO80zv6wc:APA91bE8J11GgJm3IWoj9jHLu0u0CH9bE4YJbgk5guTOicvuvFYc4E6IinbHnTnVHuwq6Iex7ZC5Lamjf0-zDHGsNZr1dnXBd9uxx70cqKYM5VNzQPCEqNXWQGOY57ZGhVRDjzN8kcLo,eiWMSb0J588:APA91bE_Rw5joSzLyLtjEXSu7mYY1fuNf7CwxAutrzd3hVS8qIyhHB9IvOMT7QYw-1IUfBtXFuPgWL2dSlUHIvi0sWAKHETFukyQ_zFvIWc1mvIfTtvmkFoWLo2wZuYPhdNiJWW3Vdjn",
        "x": 1137.3827819824219,
        "y": 281.36327362060547,
        "wires": [
            []
        ]
    },
    {
        "id": "8dbff7e2.26ab38",
        "type": "google.firebase.push",
        "z": "b73c8a92.b879a8",
        "name": "Firebase Notifications",
        "firebaseConfig": "31faa256.d9b9be",
        "childpath": "notifications/",
        "x": 940.4999694824219,
        "y": 280.6666488647461,
        "wires": [
            [
                "684c8e19.a3085"
            ]
        ]
    },
    {
        "id": "6bcf4ef8.fa416",
        "type": "function",
        "z": "b73c8a92.b879a8",
        "name": "Notification Message",
        "func": "msg.payload = {\n  'Title' : msg.payload,\n  'Type' : 'Mode Change',\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660.4999694824219,
        "y": 286.6666488647461,
        "wires": [
            [
                "8dbff7e2.26ab38"
            ]
        ]
    },
    {
        "id": "47eb705a.dabe6",
        "type": "ivona-credentials",
        "z": "b73c8a92.b879a8",
        "name": "shaggy.shelar@gmail.com",
        "api_key": "GDNAIYZIWB3GYNHIKSOA",
        "password": "49ChW8hVBcytVrlGSxWhh1W9SfL2269Tru4Txer3"
    },
    {
        "id": "5044b9fc.32c148",
        "type": "google-gcm-config",
        "z": "b73c8a92.b879a8",
        "apiKey": "AIzaSyB-9EC1ZLHOSIsyUF92bmMqRY6MWg7Nni0"
    },
    {
        "id": "31faa256.d9b9be",
        "type": "google-firebase-config",
        "z": "b73c8a92.b879a8",
        "databaseUrl": "smarthome-46be4",
        "apiKey": "a724a1bd5ec9ecc01236fc7654b739c40d7c7511",
        "authDomain": "smarthome-46be4"
    }
]